.popup {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
    display: none;
    font-size: 14px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .popup.show {
    display: block;
  }
  
  .popup.fade-out {
    animation: fade-out 1s ease-out forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }